.product-section{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    padding: 5px;
}
.product-img{
    width: 50%;
}
.product-img img{
    width: 60%;
}
.product-details{
    width: 50%;
}
.product-name{
    color: blue;
}
.product-details button{
    background-color: yellow;
    border: 2px solid gold;
    padding: 5px 15px;
}